---
import { withBase } from '@/utils/url'
import { getTranslations, t } from '@/i18n/translations'
import { getLocale, getLocalizedPath } from '@/i18n/utils'

const locale = getLocale(Astro)
const translations = await getTranslations(locale)
---

<style>
	@reference '@/styles/global.css';

	.experience-section {
		@apply relative;
		@apply pb-20;
		@apply bg-primary text-white;

		.experience-content-container {
			@apply relative z-10 container;
			@apply px-10 py-20 lg:px-0 lg:pb-0;
		}

		.experience-content {
			@apply relative z-10;
			@apply lg:pl-100;
		}

		.experience-image {
			@apply absolute;
			@apply top-0 left-0 lg:top-20;
			@apply h-full w-full lg:h-[700px] lg:w-[260px];
			@apply brightness-30 lg:brightness-100;
			@apply object-cover;
			@apply lg:rounded-tl-[50px] lg:rounded-br-[50px];
		}

		.experience-title {
			@apply mb-10;
			@apply text-center text-3xl lg:text-left;
		}

		.experience-text {
			@apply flex;
		}

		.experience-why {
			@apply px-10 pt-20 pb-10 lg:container lg:pl-100;
			@apply text-lg;

			.experience-why-title {
				@apply flex;
				@apply lg:max-w-[700px];
				@apply mb-10;
				@apply text-center text-4xl font-bold;
			}

			.experience-why-list {
				@apply flex flex-col lg:flex-row;
				@apply lg:gap-10;
			}

			.experience-why-item {
				@apply mb-5 p-5;
				@apply bg-primary-light;
				@apply text-white lg:text-sm;
				@apply rounded-br-[50px];
			}
		}

		.btn-contact {
			@apply btn btn-outline;
			@apply flex justify-center;
			@apply mx-auto;
			@apply text-primary-light;
			@apply border-primary-light;
		}
	}
</style>

<section class="experience-section">
	<div class="experience-content-container">
		<slot name="experience-image" />
		<div class="experience-content">
			<slot name="experience-title" />
			<slot name="experience-text" />
		</div>
	</div>
	<slot name="experience-why" />
	<div class="px-10">
		<a href={withBase(getLocalizedPath('contact', locale))} class="btn-contact">
			{t(translations, 'home.hero.cta')}
		</a>
	</div>
</section>
