@reference "../../../styles/global.css";

.services-section {
	@apply bg-teal min-h-[735px];

	.services-image {
		@apply w-[318px];
		@apply absolute top-[-50px] left-[-20px];
	}

	.services-list {
		@apply mt-40 flex flex-wrap gap-8;
		@apply mx-auto max-w-[784px];
	}

	.service-item {
		@apply bg-primary-light w-[240px] text-white;
		@apply rounded-bl-[50px] px-8 py-6;
	}

	.service-item-title {
		@apply mb-4 text-[16px] font-bold;
	}

	.service-item-text {
		@apply text-[10px];
	}

	.btn-read-more {
		@apply mx-auto mt-10;
		@apply flex text-center;
		@apply max-w-[420px] rounded-full text-[10px];
		@apply text-primary-light border-primary-light;
	}
}
