---
import { Image } from 'astro:assets'
import servicesImg from '@/assets/home/services.png'
---

<style>
	@reference '@/styles/global.css';

	.services-section {
		@apply bg-teal;
		@apply min-h-[735px];

		.service-title {
			@apply uppercase;
			@apply font-space-grotesk;
		}

		.services-image {
			@apply hidden lg:block;
			@apply absolute;
			@apply top-[-50px];
			@apply left-[-20px];
			@apply w-[318px];
		}

		.services-list {
			@apply flex flex-col md:flex-row;
			@apply items-center md:items-start;
			@apply flex-wrap;
			@apply gap-8;
			@apply lg:max-w-[784px];
			@apply mx-auto;
			@apply mt-20 lg:mt-40;
		}

		.service-item {
			@apply w-[240px];
			@apply bg-primary-light;
			@apply text-white;
			@apply text-base;
			@apply leading-[0.99];
			@apply rounded-bl-[50px];
			@apply px-8 py-6;
		}

		.service-item-title {
			@apply text-base;
			@apply mb-4;
		}

		.btn-read-more {
			@apply btn btn-outline rounded-full;
		}

		.service-item-text {
			@apply text-sm;
		}

		.btn-read-more {
			@apply btn btn-outline btn-wide;
			@apply flex;
			@apply text-center;
			@apply text-primary-light;
			@apply border-primary-light;
			@apply mx-auto;
			@apply mt-10;
			@apply max-w-[420px];
			@apply rounded-full;
		}
	}
</style>

<section id="services" class="services-section px-10 py-20 lg:px-0">
	<div class="container">
		<div class="flex lg:gap-10">
			<div class="relative text-white lg:w-1/4">
				<Image src={servicesImg} alt="Hero Image" class="services-image" />
			</div>
			<div class="text-white lg:w-3/4 lg:max-w-[726px]">
				<h2 class="service-title">Services</h2>
				<h3 class="my-8 text-3xl font-bold">
					mission-driven nearshoring for high-impact projects.
				</h3>
				<p>
					At Jaya, software is more than lines of code, it's a strategic asset built with intention,
					precision, and purpose. Our <b>conscious software engineering model</b> blends technical excellence
					with human understanding, enabling teams to collaborate better, ship faster, and deliver real
					business outcomes. With a nearshore structure, we work in sync with your operations, bridging
					cultural and timezone gaps to create long-term value from day one.
				</p>
			</div>
		</div>
		<div class="services-list">
			<div class="service-item">
				<h3 class="service-item-title"><i>nearshore</i> <b>staff augmentation</b></h3>
				<p class="service-item-text">
					Beyond filling roles, we connect companies with nearshore talent across developers, tech
					leads, and staff engineers, professionals who combine strong technical skills with high
					cultural alignment.
					<br />
					<br />
					Through a rigorous recruitment process, we ensure top-tier talent with English fluency, long-term
					retention, and the stability needed to build high-performing teams.
				</p>
			</div>

			<div class="service-item">
				<h3 class="service-item-title"><b>outsourcing</b></h3>
				<p class="service-item-text">
					We deliver engineering squads managed by Jaya, composed of developers, tech leads, and
					staff engineers.
					<br />
					<br />
					Our squads integrate seamlessly with the client’s product managers, designers, and QA teams,
					ensuring technical rigor, cultural alignment, and speed to scale strategic projects with confidence.
				</p>
			</div>

			<div class="service-item">
				<h3 class="service-item-title"><b>artificial intelligence</b></h3>
				<p class="service-item-text">
					We provide developers and engineers to support client projects in AI. Our expertise covers
					intelligent agents, machine learning, computer vision, and integration with LLMs and
					Generative AI.
					<br />
					<br />
					With strong technical skills and cultural alignment, our teams help companies accelerate innovation
					and deliver real impact.
				</p>
			</div>
		</div>
		<a href="/services" class="btn-read-more">Let's talk</a>
	</div>
</section>
