---
import { Image } from 'astro:assets'
---

<style>
	@reference "../../styles/global.css";

	.clients-section {
		@apply text-primary bg-gray-light;

		.btn-see-more {
			@apply mx-auto mt-10;
			@apply flex text-center;
			@apply max-w-[420px] rounded-full;
		}
	}
</style>

<section class="clients-section py-20">
	<div class="container">
		<div class="text-center">Trusted by innovators</div>
		<h2 class="title text-center">Our clients</h2>
		<p class="text-center">
			We partner with forward-thinking companies in finance, logistics, healthcare, retail, and
			more,<br /> delivering long-term software solutions with real business impact.
		</p>
		<div class="flags"></div>
		<div class="clients-list"></div>
		<a href="/clients" class="btn btn-outline btn-see-more btn-wide rounded-full">See our cases</a>
	</div>
</section>
