---
import { Image } from 'astro:assets'
import brasilFlag from '@/assets/home/brasil-flag.png'
import usaFlag from '@/assets/home/usa-flag.png'
import clientUSA from '@/assets/home/clients-usa.png'
import clientBrasil from '@/assets/home/clients-brasil.png'
---

<style>
	@reference '@/styles/global.css';

	.clients-section {
		@apply bg-gray-light;
		@apply text-primary;

		.clients-subtitle {
			@apply font-space-grotesk text-primary text-center uppercase;
		}

		.clients-title {
			@apply mt-2 mb-5;
			@apply text-primary text-center text-3xl font-bold;
		}

		.tabs {
			@apply mt-20 mb-5;
			@apply justify-center;

			.tab {
				@apply bg-transparent;
				@apply border-transparent;

				input:not(:checked) + .flag {
					@apply grayscale;
				}
			}

			.flag {
				@apply h-[50px] w-[50px];
			}

			.tab-content {
				@apply pt-15 lg:pt-30;
				@apply bg-transparent;
				@apply border-none;
			}
		}

		.btn-see-more {
			@apply btn btn-outline;
			@apply flex;
			@apply max-w-[420px];
			@apply mx-auto mt-10;
			@apply text-center;
			@apply rounded-full;
		}
	}
</style>

<section class="clients-section px-10 py-20">
	<div class="container">
		<div class="clients-subtitle">Trusted by innovators</div>
		<h2 class="clients-title">our clients</h2>
		<p class="text-center">
			We partner with forward-thinking companies in finance, logistics, healthcare, retail, and
			more,<br /> delivering long-term software solutions with real business impact.
		</p>

		<div class="tabs tabs-lift">
			<label class="tab">
				<input type="radio" name="my_tabs_4" checked="checked" />
				<Image src={usaFlag} alt="Client 1" class="flag" />
			</label>
			<div class="tab-content bg-base-100 border-base-300 p-6">
				<Image src={clientUSA} alt="Client 1" />
			</div>

			<label class="tab">
				<input type="radio" name="my_tabs_4" />
				<Image src={brasilFlag} alt="Client 1" class="flag" />
			</label>
			<div class="tab-content bg-base-100 border-base-300 p-6">
				<Image src={clientBrasil} alt="Client 1" />
			</div>
		</div>
	</div>
</section>
