@reference "./global.css";

.contact-main {
	@apply pb-16;
	@apply bg-[#ececea];

	.title {
		@apply mt-22 mb-16 text-center;
		@apply text-primary;
		@apply text-[85px];
	}

	.content-section {
		@apply flex gap-16 px-10;

		.text-column {
			@apply w-1/2;

			.contact-text {
				@apply max-w-[450px];
				@apply space-y-6;

				h2 {
					@apply text-gray-900;
					@apply font-bold;
					@apply leading-tight;
					@apply mb-6;
				}

				p {
					@apply text-gray-700;
					@apply leading-relaxed;
				}

				.contact-info {
					@apply mt-8;

					.email-link {
						@apply font-semibold;
						@apply mb-6;
						@apply block;
					}

					.contact-details {
						@apply space-y-4;

						.location {
							p {
								@apply text-gray-800;
								@apply mb-1;

								strong {
									@apply font-bold;
									@apply text-gray-900;
								}
							}
						}
					}
				}
			}
		}

		.form-column {
			@apply w-1/2;

			.contact-form {
				@apply space-y-6;

				.form-group {
					@apply space-y-2;

					label {
						@apply block;
						@apply text-gray-700;
						@apply font-medium;
						@apply text-[14px];
						@apply lowercase;
					}

					input,
					textarea {
						@apply w-full;
						@apply px-0 py-3;
						@apply border-0;
						@apply border-b-2;
						@apply border-gray-300;
						@apply rounded-none;
						@apply text-gray-900;
						@apply bg-transparent;
						@apply text-[16px];
						@apply ring-0;

						/* &:focus {
							@apply border-primary;
							@apply outline-none;
						}

						&:hover {
							@apply border-gray-400;
						} */
					}

					textarea {
						resize: vertical;
						@apply min-h-[120px];
						@apply resize-y;
					}
				}

				.btn-submit {
					@apply btn btn-outline;
					@apply flex text-center;
					@apply max-w-[420px] rounded-full;
					@apply text-primary-light border-primary-light;
				}
			}
		}
	}
}
