@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'jaya';
	default: true;
	prefersdark: true;

	--color-primary: #00616c;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/jaya/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	font-feature-settings: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/jaya/fonts/open-sauce-one-400-normal.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('/jaya/fonts/open-sauce-one-800-normal.woff2') format('woff2');
	font-weight: 800;
	font-display: swap;
}

@theme {
	--nav-height: 135px; /* Mobile default */
	/* Primary colors */
	--color-primary-light: #03b3cb;

	/* Neutral/Gray colors */
	--color-body: #f7f5f2;
	--color-neutral-light: #ececea;
	--color-gray-light: #fbfbfb;

	/* Blue/Teal colors */
	--color-teal: #36808f;
	--color-blue: #3b86a2;
	--color-blue-light: #5abfd7;

	/* Text colors */
	--color-text-dark: #3b3b3b;

	/* Fonts */
	--font-space-grotesk: 'Space Grotesk', sans-serif;
	--font-open-sauce-one: 'Open Sauce One', sans-serif;
}

@utility container {
	max-width: 1280px;
	@apply mx-auto;
}

@utility btn {
	@apply flex;
	@apply rounded-full;
	@apply w-fit;
}

@layer base {
	* {
		@apply focus:outline-none focus-visible:ring;
	}
	html {
		@apply font-open-sauce-one;
		@apply scroll-smooth;
	}

	body {
		@apply bg-neutral-light text-sm antialiased;
		@apply overflow-x-hidden;
	}

	.nav-padding {
		@apply pt-[var(--nav-height)];
	}

	@media (min-width: 1024px) {
		:root {
			--nav-height: 110px; /* Desktop */
		}
	}
}

@keyframes slideFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
