@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'jaya';
	default: true;

	--color-primary: #00616c;
}

@theme {
	/* Primary colors */
	--color-primary-light: #03b3cb;

	/* Neutral/Gray colors */
	--color-body: #f7f5f2;
	--color-neutral-light: #ececea;
	--color-gray-light: #fbfbfb;

	/* Blue/Teal colors */
	--color-teal: #36808f;
	--color-blue: #3b86a2;
}

// custom colors

@font-face {
	font-family: 'Aswatama';
	src: url('/jaya/fonts/Aswatama-Rough.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@utility container {
	max-width: 1280px;
	@apply mx-auto;
}

@layer base {
	html {
		font-family: 'Open Sauce One', sans-serif;
		@apply scroll-smooth;
	}

	body {
		/* @apply bg-body pt-[110px] text-sm antialiased; */
		@apply bg-body text-sm antialiased;
	}

	* {
		@apply focus:outline-none focus-visible:ring;
	}
}

.nav-container {
	@apply fixed top-0 left-0 z-10 w-full;
	@apply flex h-[110px];

	.background {
		@apply absolute top-0 left-0 h-full w-full;
		@apply rounded-none bg-white lg:rounded-br-[100px];
	}

	nav {
		@apply ml-auto self-center;

		a {
			@apply text-primary normal-case italic underline;
		}
	}

	.container {
		@apply relative flex h-full flex-row;
	}
}

.logo {
	@apply absolute h-[135px] w-[125px];
	@apply flex items-center justify-center text-center;
	@apply bg-primary rounded-br-[50%] text-[2rem] text-white;
}
