@import 'tailwindcss';
@plugin "daisyui";

@theme {
	--font-heading: 'Geist Sans', 'sans-serif';
	--color-body: #f7f5f2;
	--color-green: #00616c;
}

@font-face {
	font-family: 'Geist Sans';
	src: url('@/assets/fonts/geist-sans-latin-500-normal.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist Sans';
	src: url('@/assets/fonts/geist-sans-latin-900-normal.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@layer base {
	html {
		font-family: 'Geist Mono', monospace;
		@apply scroll-smooth uppercase;
		height: 100%;
	}

	body {
		@apply bg-body;
		@apply text-sm antialiased;
		height: 100%;
		font-family: 'Open Sauce One', sans-serif;
		padding-top: 250px;
	}

	* {
		@apply focus:outline-none focus-visible:ring;
	}

	.nav-container {
		display: flex;
		height: 110px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		.background {
			@apply w-full lg:w-[95%];
			@apply rounded-none lg:rounded-br-[100px];
			background-color: #fff;
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}

		nav {
			align-self: center;
			margin-left: auto;

			a {
				@apply text-green;
				font-style: italic;
				text-transform: none;
				text-decoration: underline;
			}

			/* ul {
				@apply flex flex-row gap-4;
				
			} */
		}

		.container {
			display: flex;
			height: 100%;
			flex-direction: row;
			position: relative;
			z-index: 1;
		}
	}

	.container {
		@apply mx-auto;
	}

	.logo {
		@apply bg-green;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-bottom-right-radius: 50%;
		color: #fff;
		font-size: 2rem;
		height: 135px;
		position: absolute;
		width: 125px;
	}
}
