---
import { withBase } from '@/utils/url'
import { Image } from 'astro:assets'
import linkedinIcon from '@/assets/icons/linkedin.svg'
import githubIcon from '@/assets/icons/github.svg'
import mediumIcon from '@/assets/icons/medium.svg'
---

<style>
	@reference "../../styles/global.css";

	.footer-section {
		@apply bg-neutral-light;
		@apply lg:py-20;
		@apply mt-auto;

		.footer-main {
			@apply flex flex-col lg:flex-row;
			@apply px-8;
		}

		.footer-main-content {
			@apply flex;
			@apply items-center;
			@apply gap-5;
		}

		.lets-talk {
			@apply text-primary;
			@apply text-8xl;
			@apply font-bold;
		}

		.btn-contact {
			@apply h-[100px] lg:h-[137px];
			@apply w-[137px];
			@apply bg-primary-light;
			@apply text-white;
			@apply rounded-bl-[50px];
			@apply flex;
			@apply items-center justify-center;
			@apply relative;

			&:hover .icon {
				transform: rotate(45deg);
			}

			.icon {
				@apply absolute;
				@apply h-[48px];
				@apply w-[52px];
				@apply top-0;
				@apply right-0;
				transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
			}
		}

		.address-container {
			@apply flex lg:flex-col;
			@apply gap-10 lg:gap-0;
			@apply lg:justify-center;
			@apply mt-8 lg:mt-0;
			@apply lg:ml-auto;
		}

		.address-item {
			@apply text-primary;
			@apply text-left lg:text-right;

			&.mb-5 {
				@apply mb-5;
			}
		}

		.footer-links {
			@apply flex;
			@apply border-primary;
			@apply border-t;
			@apply border-b;
			@apply mt-20;
			@apply py-10;
			@apply px-8;
		}

		.footer-menu {
			@apply menu menu-vertical lg:menu-horizontal;
			@apply lg:pl-0;

			a {
				@apply pl-0;
			}
		}

		.social {
			@apply ml-auto;
			@apply flex;
			@apply items-center;
			@apply gap-7;
		}
	}
</style>

<footer class="footer-section">
	<div class="container">
		<div class="footer-main">
			<div class="footer-main-content">
				<div class="lets-talk">let's talk</div>
				<a href="/contact" class="btn-contact">
					<svg
						class="icon"
						width="20"
						height="20"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M7 17L17 7M17 7H7M17 7V17"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg>
				</a>
			</div>
			<div class="address-container">
				<div class="address-item mb-5">
					<div>Austin, TX - USA</div>
					<div><strong>+1 (512) 555-1212</strong></div>
				</div>
				<div class="address-item">
					<div>São Paulo, SP - Brazil</div>
					<div><strong>+55(11) 333-1212</strong></div>
				</div>
			</div>
		</div>
		<div class="footer-links">
			<nav>
				<ul class="footer-menu">
					<li>
						<a href="/">services</a>
					</li>
					<li>
						<a href="/">blog</a>
					</li>
					<li>
						<a href="/">culture</a>
					</li>
					<li>
						<a href="/">contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<a href="/">
					<Image src={linkedinIcon} alt="Linkedin" />
				</a>
				<a href="/">
					<Image src={githubIcon} alt="Github" />
				</a>
				<a href="/">
					<Image src={mediumIcon} alt="Medium" />
				</a>
			</div>
		</div>
	</div>
</footer>
