---
import { withBase } from '@/utils/url'
import { Image } from 'astro:assets'
import linkedinIcon from '@/assets/icons/linkedin.svg'
import githubIcon from '@/assets/icons/github.svg'
import mediumIcon from '@/assets/icons/medium.svg'
---

<style>
	@reference "../../styles/global.css";

	.footer-section {
		@apply bg-neutral-light py-20;
		@apply mt-auto;

		.lets-talk {
			@apply text-primary text-[85px] font-bold;
		}

		.btn-contact {
			@apply h-[137px] w-[137px];
			@apply rounded-bl-[50px];
			@apply bg-primary-light text-white;
			@apply flex items-center justify-center;
			@apply relative ml-5;

			&:hover .icon {
				transform: rotate(45deg);
			}

			.icon {
				@apply h-[48px] w-[52px];
				@apply absolute top-0 right-0;
				transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
			}
		}

		.footer-links {
			@apply flex;
			@apply mt-20 py-10;
			@apply border-primary border-t;
			@apply border-primary border-b;
		}

		.address-item {
			@apply text-primary;
		}
	}
</style>

<footer class="footer-section">
	<div class="container">
		<div class="flex px-8">
			<div class="lets-talk">let's talk</div>
			<a href="/contact" class="btn-contact">
				<svg
					class="icon"
					width="20"
					height="20"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M7 17L17 7M17 7H7M17 7V17"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</svg>
			</a>
			<div class="address-container ml-auto">
				<div class="address-item mb-5 text-right">
					<div>Austin, TX - USA</div>
					<div><strong>+1 (512) 555-1212</strong></div>
				</div>
				<div class="address-item text-right">
					<div>São Paulo, SP - Brazil</div>
					<div><strong>+55(11) 333-1212</strong></div>
				</div>
			</div>
		</div>
		<div class="footer-links px-8">
			<nav>
				<ul class="menu menu-vertical lg:menu-horizontal lg:pl-0">
					<li>
						<a href="/" class="md:pl-0">home</a>
					</li>
					<li>
						<a href="/">about</a>
					</li>
					<li>
						<a href="/">services</a>
					</li>
					<li>
						<a href="/">solutions</a>
					</li>
					<li>
						<a href="/">culture</a>
					</li>
					<li>
						<a href="/">contact</a>
					</li>
				</ul>
			</nav>
			<div class="social ml-auto flex items-center gap-7">
				<a href="/">
					<Image src={linkedinIcon} alt="Linkedin" />
				</a>
				<a href="/">
					<Image src={githubIcon} alt="Github" />
				</a>
				<a href="/">
					<Image src={mediumIcon} alt="Medium" />
				</a>
			</div>
		</div>
	</div>
</footer>
