---
import { withBase } from '@/utils/url'
import { Image } from 'astro:assets'
import logoIcon from '@/assets/logo.svg'
import Navigation from './Navigation.astro'
---

<style>
	@reference '@/styles/global.css';

	.nav-container {
		@apply fixed flex;
		@apply top-0 left-0 z-10 z-100;
		@apply h-[110px] w-full;

		.nav-background {
			@apply absolute;
			@apply top-0 left-0;
			@apply h-full w-full lg:w-[95vw];
			@apply bg-white;
			@apply rounded-none lg:rounded-br-[50px];
		}

		.navbar {
			@apply px-0;

			.logo {
				@apply absolute flex items-center justify-center;
				@apply top-0 left-0;
				@apply h-[135px] w-[125px];
				@apply bg-primary;
				@apply text-center text-[2rem] text-white;
				@apply rounded-br-[50%];
			}

			a,
			summary {
				@apply text-primary normal-case italic;
			}
		}

		.container-wrapper {
			@apply relative container flex items-center;
			@apply lg:pr-15;
		}

		.navbar-wrapper {
			@apply flex flex-1;
		}

		.mobile-menu-button {
			@apply btn btn-ghost;
			@apply lg:hidden;
		}

		.dropdown-wrapper {
			@apply dropdown dropdown-end;
			@apply ml-auto;
		}

		.navbar-center {
			@apply hidden lg:flex;
		}
	}
</style>

<div class="nav-container">
	<div class="nav-background"></div>
	<div class="container-wrapper">
		<div class="navbar">
			<div class="navbar-wrapper">
				<a class="logo" href={withBase('')}><Image src={logoIcon} alt="Logo" /></a>
				<div class="dropdown-wrapper">
					<div tabindex="0" role="button" class="mobile-menu-button">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-8 w-8"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h8m-8 6h16"></path>
						</svg>
					</div>
					<Navigation type="mobile" />
				</div>
			</div>
			<div class="navbar-center">
				<Navigation type="desktop" />
			</div>
		</div>
	</div>
</div>
