@reference "../../../styles/global.css";

.home-hero-section {
	.description {
		@apply bg-body mx-auto my-40;
		@apply max-w-[450px] text-center normal-case;
	}

	.left-image {
		@apply absolute top-1/2 left-0;
		@apply h-[260px] w-[275px];
	}

	.right-image {
		@apply absolute top-[30%] right-0;
		@apply h-[260px] w-[275px];
	}

	.big-number-section {
		@apply mx-auto my-[50px];
		@apply flex justify-center gap-[100px];
	}

	.big-number {
	}

	.content {
		@apply bottom-0 flex;
	}

	.number-container {
		@apply relative h-[90px] w-[90px];
		@apply bg-primary text-body text-[36px];
		@apply rounded-tl-[30%] rounded-br-[30%];

		&:before {
			@apply absolute -bottom-[14px] -left-[20px];
			@apply w-[60px];
			@apply text-primary text-[36px] font-bold;
			content: '+';
		}
	}

	.number {
		@apply absolute -bottom-[14px] left-0;
		@apply text-[36px] font-bold;
	}

	.text {
		@apply mt-10 mt-auto ml-2;
		@apply text-primary text-[12px] normal-case italic;
	}

	.btn-contact {
		@apply mx-auto;
		@apply flex text-center;
		@apply max-w-[420px] rounded-full text-[10px];
		@apply text-primary-light border-primary-light;
	}
}
