---
import { Image } from 'astro:assets'
import teamImg from '@/assets/home/team.png'
---

<style>
	@reference "../../styles/global.css";

	.team-section {
		@apply bg-primary-light;
		@apply text-white;
		@apply pt-20;

		.content {
			@apply container;
			@apply px-10;
			/* &:after {
				@apply absolute;
				@apply bottom-[-5rem];
				@apply h-[200px] w-full;
				@apply bg-neutral-light;
				@apply rounded-tl-[50px] rounded-tr-[50px];
				@apply z-0;
				content: '';
			} */

			.team-subtitle {
				@apply text-center;
				@apply uppercase;
				@apply font-space-grotesk;
			}

			.team-title {
				@apply text-center;
				@apply text-3xl;
				@apply tracking-[-1px];
				@apply my-6;
			}

			.team-description {
				@apply text-center;
				@apply max-w-[600px];
				@apply mx-auto;
			}
		}

		.btn-see-more {
			@apply flex;
			@apply rounded-full;
			@apply mx-auto;
			@apply mt-15 mb-10;
			@apply btn btn-outline;
		}

		.team-grid {
			@apply relative;
			@apply mt-30 lg:mt-50;
			@apply px-2;

			/* @apply min-h-[100px] w-full md:h-[250px]; */
			@apply bg-neutral-light;
			@apply rounded-tl-[50px] rounded-tr-[50px];
			@apply lg:max-h-[220px];

			img {
				/* @apply absolute; */
				@apply left-0;
				@apply -translate-y-1/2 transform;
				/* @apply top-[-50%] lg:top-[-90%]; */
				/* @apply top-[-50%] left-0 lg:top-[-200px]; */
				@apply px-5;
				/* @apply z-1; */
			}
			/* &:after {
				@apply absolute;
				@apply bottom-[-5rem];
				@apply h-[200px] w-full;
				@apply bg-neutral-light;
				@apply rounded-tl-[50px] rounded-tr-[50px];
				@apply z-0;
				@apply left-0;
				content: '';
			} */
		}
	}
</style>

<section class="team-section">
	<div class="content">
		<div class="team-subtitle">Great People Build Great Products</div>
		<h2 class="team-title"><b>we develop people</b> <i>while they</i> <b>develop software</b></h2>
		<p class="team-description">
			Get to know how our people-first culture fuels performance, creating committed, resilient
			teams with low turnover and high delivery consistency.
		</p>
		<a href="/about" class="btn-see-more">Meet our culture</a>
	</div>
	<div class="team-grid lg:container">
		<Image src={teamImg} alt="Team Image" class="team-image" />
	</div>
</section>
