---
import { Image } from 'astro:assets'
import teamImg from '@/assets/home/team.png'
import { socialLinks } from '@/data/social-links'
---

<style>
	@reference '@/styles/global.css';

	.team-section {
		@apply pt-20;
		@apply bg-primary-light;
		@apply text-white;

		.content {
			@apply container;
			@apply px-10;

			.team-subtitle {
				@apply font-space-grotesk text-center uppercase;
			}

			.team-title {
				@apply my-6;
				@apply text-center text-3xl tracking-[-1px];
			}

			.team-description {
				@apply max-w-[600px];
				@apply mx-auto;
				@apply text-center;
			}
		}

		.btn-see-more {
			@apply btn btn-outline btn-wide;
			@apply flex;
			@apply mx-auto mt-15 mb-10;
			@apply rounded-full;
		}

		.team-grid {
			@apply relative;
			@apply lg:max-h-[220px];
			@apply mt-30 px-2 lg:mt-50;
			@apply bg-neutral-light;
			@apply rounded-tl-[50px] rounded-tr-[50px];

			img {
				@apply left-0;
				@apply px-5;
				@apply -translate-y-1/2 transform;
			}
		}
	}
</style>

<section class="team-section">
	<div class="content">
		<div class="team-subtitle">Great People Build Great Products</div>
		<h2 class="team-title"><b>we develop people</b> <i>while they</i> <b>develop software</b></h2>
		<p class="team-description">
			Get to know how our people-first culture fuels performance, creating committed, resilient
			teams with low turnover and high delivery consistency.
		</p>
		<a href={socialLinks.linkedin} class="btn-see-more">Meet our culture</a>
	</div>
	<div class="team-grid lg:container">
		<Image src={teamImg} alt="Team Image" class="team-image" />
	</div>
</section>
