---
import { Image } from 'astro:assets'
import teamImg from '@/assets/home/team.png'
import { socialLinks } from '@/data/social-links'
import { getTranslations, t } from '@/i18n/translations'
import { getLocale } from '@/i18n/utils'

const locale = getLocale(Astro)
const translations = await getTranslations(locale)
---

<style>
	@reference '@/styles/global.css';

	.team-section {
		@apply pt-20;
		@apply bg-primary-light;
		@apply text-white;

		.content {
			@apply container;
			@apply px-10;

			.team-subtitle {
				@apply font-space-grotesk text-center uppercase;
			}

			.team-title {
				@apply my-6;
				@apply text-center text-3xl tracking-[-1px];
			}

			.team-description {
				@apply max-w-[600px];
				@apply mx-auto;
				@apply text-center;
			}
		}

		.btn-see-more {
			@apply btn btn-outline btn-wide;
			@apply flex;
			@apply mx-auto mt-15 mb-10;
			@apply rounded-full;
		}

		.team-grid {
			@apply relative;
			@apply lg:max-h-[220px];
			@apply mt-30 px-2 lg:mt-50;
			@apply bg-neutral-light;
			@apply rounded-tl-[50px] rounded-tr-[50px];

			img {
				@apply left-0;
				@apply px-5;
				@apply -translate-y-1/2 transform;
			}
		}
	}
</style>

<section class="team-section">
	<div class="content">
		<div class="team-subtitle">{t(translations, 'home.team.subtitle')}</div>
		<h2 class="team-title"><Fragment set:html={t(translations, 'home.team.title')} /></h2>
		<p class="team-description">
			{t(translations, 'home.team.description')}
		</p>
		<a href={socialLinks.linkedin} target="_blank" class="btn-see-more">{t(translations, 'home.team.cta')}</a>
	</div>
	<div class="team-grid lg:container">
		<Image src={teamImg} alt="Team Image" class="team-image" />
	</div>
</section>
