<style>
	@reference "../../../styles/global.css";

	.service-hero-section {
		@apply flex flex-col md:flex-row;
		/* @apply min-h-[600px]; */

		.image-column {
			@apply relative;
			@apply w-full md:w-1/2;

			@apply hidden md:block;

			img {
				@apply h-[600px];
				@apply w-full;
				@apply object-cover;
			}
		}

		.content-column {
			@apply relative;
			@apply w-full md:w-1/2;

			.content {
				@apply md:px-10 lg:px-15 xl:px-20;
			}

			.hero-title-container {
				@apply relative;
				@apply z-10;

				.content-image {
					@apply absolute;
					@apply top-0;
					@apply left-0;
					@apply h-full;
					@apply w-full;
					@apply brightness-50 filter;
					@apply md:hidden;

					img {
						@apply w-full;
						@apply h-full;
						@apply object-cover;
					}
				}

				.hero-title {
					@apply md:text-primary text-white;
					@apply text-4xl leading-tight;
					@apply relative;
					@apply z-10;
					@apply flex;
					@apply items-center;
					@apply justify-center md:justify-start;
					@apply h-full;
					@apply w-full;
					@apply py-20;
				}
			}

			.statistics-section {
				@apply flex flex-row justify-center md:justify-between lg:justify-start;
				@apply flex-wrap;
				@apply gap-12 md:gap-0 lg:gap-12;
				@apply mx-auto;
				@apply my-15 md:mt-0;

				.statistic-item {
					@apply flex flex-col self-start;
				}

				.statistic-number-container {
					@apply relative;
					@apply bg-primary;
					@apply h-[90px] w-[90px];
					@apply rounded-tl-[30%] rounded-br-[30%];
					@apply text-body;

					&::before {
						@apply absolute;
						@apply text-primary;
						@apply text-4xl font-bold;
						@apply w-[60px];
						@apply -bottom-[14px] -left-[20px];
						content: '+';
					}
				}

				.statistic-number {
					@apply absolute;
					@apply text-5xl font-bold;
					@apply tracking-[-4px];
					@apply bottom-[-6px] left-0;
				}

				.statistic-text {
					@apply text-primary;
					@apply normal-case italic;
					@apply mt-1 leading-tight;
				}
			}

			.cta-button {
				@apply btn btn-outline btn-wide;
				@apply border-primary-light;
				@apply text-primary-light;
				@apply mx-auto md:ml-0;
			}
		}
	}
</style>

<section class="service-hero-section">
	<div class="image-column">
		<slot name="hero-image" />
	</div>

	<div class="content-column">
		<div class="content">
			<div class="hero-title-container">
				<div class="content-image">
					<slot name="hero-image" />
				</div>
				<h1 class="hero-title">
					<slot name="hero-title" />
				</h1>
			</div>

			<slot name="hero-statistics" />
			<a href="" class="cta-button">Get in touch</a>
		</div>
	</div>
</section>
