---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/about/hero/hero.astro'
import WhatDrivesUs from '@/components/about/what-drives-us/WhatDrivesUs.astro'
import WhyChooseJaya from '@/components/about/why-choose-jaya/WhyChooseJaya.astro'
import Clients from '@/components/clients/Clients.astro'
import Reviews from '@/components/about/reviews/Reviews.astro'
import Team from '@/components/team/Team.astro'
---

<Layout
	title="About Us - Jaya Tech"
	description="Learn about Jaya Tech's mission, values, and the team behind our nearshore software development services."
>
	<main>
		<Hero />
		<WhatDrivesUs />
		<WhyChooseJaya />
		<Clients />
		<Reviews />
		<Team />
	</main>
</Layout>
