---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title="Case Studies - Jaya Tech"
	description="Discover how Jaya Tech has helped companies across fintech, healthtech, retail, and SaaS industries with nearshore development."
>
	<main>case</main>
</Layout>
