---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/contact/hero/hero.astro'
---

<Layout
	title={'Contact'}
	description={'Get in touch with Jaya Tech to discuss your project and transform your ideas into reality.'}
>
	<main>
		<Hero />
	</main>
</Layout>
