---
import Layout from '@/layouts/Layout.astro'
import '@/styles/contact.css'
---

<Layout
	title={'Contact'}
	description={'Get in touch with Jaya Tech to discuss your project and transform your ideas into reality.'}
>
	<main class="nav-padding contact-main">
		<div class="contact-hero-section">
			<div class="container">
				<h1 class="title"><b>let's</b><i>talk</i></h1>

				<!-- Duas colunas sem background -->
				<div class="content-section">
					<div class="text-column">
						<div class="contact-text">
							<h2>Tell us about your project, your challenge, or your next big idea.</h2>
							<p>
								We're here to listen, think with you, and help turn it into something real. Once you
								send your message, know that it truly matters to us.
							</p>
							<p>
								Our team will get back to you within one business day. And don't worry, we'll never
								share your personal information with third parties.
							</p>

							<div class="contact-info">
								<a href="mailto:contact@jaya.tech" class="email-link">contact@jaya.tech</a>

								<div class="contact-details">
									<div class="location">
										<p><strong>Austin, TX - USA</strong></p>
										<p>+1 (512) 555-1212</p>
									</div>
									<div class="location">
										<p><strong>São Paulo, SP - Brazil</strong></p>
										<p>+55(11) 333-1212</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-column">
						<form class="contact-form" action="https://formspree.io/f/xrbyllbb" method="POST">
							<div class="form-group">
								<label for="name">name</label>
								<input type="text" id="name" name="name" required />
							</div>

							<div class="form-group">
								<label for="email">e-mail</label>
								<input type="email" id="email" name="email" required />
							</div>

							<div class="form-group">
								<label for="message">tell us about our project</label>
								<textarea id="message" name="message" rows="6" required></textarea>
							</div>

							<button type="submit" class="btn-submit"> Send Message </button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
