---
import Layout from '@/layouts/Layout.astro'
import ServiceHero from '@/components/services/hero/ServiceHero.astro'
import { Image } from 'astro:assets'
import fintechImg from '@/assets/fintech/fintech.png'
---

<Layout
	title="Fintech Solutions - Jaya Tech"
	description="Building the future of finance with secure, scalable fintech solutions"
>
	<main class="nav-padding">
		<ServiceHero>
			<Image src={fintechImg} alt="Fintech" slot="hero-image" />
			<div slot="hero-title">
				<b>building</b>
				<i>
					the future
					<br /> of finance,
				</i>
				<b>safely.</b>
			</div>
			<div slot="hero-statistics">
				<div class="statistics-section">
					<div class="statistic-item">
						<div class="statistic-number-container">
							<div class="statistic-number">9</div>
						</div>
						<div class="statistic-text">years of<br /> <b>nearshore<br /> experience</b></div>
					</div>
					<div class="statistic-item">
						<div class="statistic-number-container">
							<div class="statistic-number">80</div>
						</div>
						<div class="statistic-text">active<br /> <b>developers</b></div>
					</div>
					<div class="statistic-item">
						<div class="statistic-number-container">
							<div class="statistic-number">100</div>
						</div>
						<div class="statistic-text"><b>augmented<br /> squads</b> over<br /> the years</div>
					</div>
				</div>
			</div>
		</ServiceHero>
	</main>
</Layout>
