---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import { Atom, Languages, LucideZap, Waves } from 'lucide-react'
import '@/styles/index.css'
import Hero1 from '@/components/home/hero-section/HeroSection.astro'
import MapSection from '@/components/home/map-section/MapSection.astro'
import ServicesSection from '@/components/home/services-section/ServicesSection.astro'
import ImpactSection from '@/components/home/impact/ImpactSection.astro'
import ClientsSection from '@/components/home/clients/ClientsSection.astro'
import TeamSection from '@/components/home/team-section/TeamSection.astro'

// Home page content
const pageContent = {
	title: 'Reliable software squad',
	description:
		'Jaya is a fully remote software consulting company, founded in 2012 and partnering with U.S. companies since 2016. We specialize in strategic staff augmentation and long-term, high-impact projects, combining technical and cultural fit through a deep recruitment process. Behind every delivery, we mentor our teams, nurture strong culture, and develop people who are inspired to build software that truly matters.'
}
---

<Layout title={pageContent.title} description={pageContent.description}>
	<main class="nav-padding">
		<Hero1 />
		<MapSection />
		<ServicesSection />
		<ImpactSection />
		<ClientsSection />
		<TeamSection />
	</main>
</Layout>
