---
import Layout from '@/layouts/Layout.astro'
import ServiceHero from '@/components/services/ServiceHero.astro'
import { Image } from 'astro:assets'
import retailImg from '@/assets/retail/retail.png'
import retailClientsImg from '@/assets/retail/retail-clients.png'
import ServiceClients from '@/components/services/ServiceClients.astro'
import ServiceExperience from '@/components/services/ServiceExperience.astro'
import retailExperienceImg from '@/assets/retail/retail-experience.png'
import Impact from '@/components/impact/Impact.astro'
import Team from '@/components/team/Team.astro'
---

<Layout
	title="Retail Solutions - Jaya Tech"
	description="Building the future of finance with secure, scalable fintech solutions"
>
	<main class="nav-padding">
		<ServiceHero>
			<Image src={retailImg} alt="Retail" slot="hero-image" />
			<div slot="hero-title">
				<i>powering digital</i>
				<b>retail</b>
				<i>at</i>
				<b>scale.</b>
			</div>
			<div class="statistics-section" slot="hero-statistics">
				<div class="statistic-item">
					<div class="statistic-number-container">
						<div class="statistic-number">30M</div>
					</div>
					<div class="statistic-text"><i>shoppers</i><br /><b>reached</b></div>
				</div>
				<div class="statistic-item">
					<div class="statistic-number-container">
						<div class="statistic-number">10</div>
					</div>
					<div class="statistic-text"><i>retail</i><br /><b>squads</b></div>
				</div>
				<div class="statistic-item">
					<div class="statistic-number-container">
						<div class="statistic-number">7</div>
					</div>
					<div class="statistic-text"><b>years</b> <i>of <br />experience</i></div>
				</div>
			</div>
		</ServiceHero>
		<ServiceClients>
			<Image src={retailClientsImg} alt="Retail Clients" slot="clients-image" />
		</ServiceClients>
		<ServiceExperience>
			<Image
				src={retailExperienceImg}
				alt="Fintech Experience"
				slot="experience-image"
				class="experience-image"
			/>

			<h2 class="experience-title" slot="experience-title">
				<i>proven</i>
				<b>experience</b>
				<i>across</i>
				<b>retail & consumer tech</b>
			</h2>
			<p class="experience-text" slot="experience-text">
				We’ve partnered with leading retailers, fashion brands, and e-commerce innovators to build
				scalable platforms that serve millions of customers every day. From high-volume marketplaces
				to direct-to-consumer experiences, our teams have delivered systems that combine usability,
				performance, and resilience.
				<br />
				<br />
				Our work spans across online retail, cashback and coupon platforms, fashion e-commerce, and omnichannel
				solutions. We know what it takes to engineer platforms that handle massive traffic peaks, secure
				transactions, and seamless user journeys, all while ensuring speed and reliability at scale.
			</p>
			<div class="experience-why" slot="experience-why">
				<h2 class="experience-why-title">why retail & consumer companies choose Jaya</h2>
				<div class="experience-why-list">
					<div class="experience-why-item">
						<b>E-commerce expertise</b><br />
						Experience with large-scale marketplaces, retail platforms, and fashion tech.
					</div>
					<div class="experience-why-item">
						<b>High-traffic readiness</b><br />
						Systems designed for massive peaks, from holiday sales to live campaigns.
					</div>
					<div class="experience-why-item">
						<b>User-centric engineering</b><br />
						Intuitive, seamless digital experiences that convert and retain customers.
					</div>
					<div class="experience-why-item">
						<b>Reliable delivery </b><br />
						Stable, long-term teams ensuring consistent quality and scalability.
					</div>
				</div>
			</div>
		</ServiceExperience>
		<Impact />
		<Team />
	</main>
</Layout>
