---
import Layout from '@/layouts/Layout.astro'
---

<Layout
	title="Services - Jaya Tech"
	description="Explore Jaya Tech's nearshore software development services including staff augmentation, outsourcing, and AI development."
>
	<main>services</main>
</Layout>
