---
import { Image } from 'astro:assets'
import impactImg from '@/assets/home/impact.png'
---

<style>
	@reference "../../../styles/global.css";

	.impact-section {
		@apply min-h-[735px];

		.impact-title {
			@apply text-primary mt-2 mb-10 text-[28px];
			@apply tracking-[-0.5px];
		}

		.impact-subtitle {
			@apply text-primary uppercase;
			@apply font-space-grotesk;
		}

		.solutions-list {
			@apply mt-10;
			@apply flex flex-row gap-20;
		}

		.solution-item {
			@apply w-[147px];
		}

		.solution-container {
			@apply bg-primary text-white;
			@apply h-[147px] px-8 py-6;
			@apply rounded-tl-[50px];
		}

		.solution-item-title {
			@apply mb-4;
			@apply text-[16px] font-bold;
		}

		.solution-item-text {
			@apply mt-5;
			@apply text-center text-[15px];
			@apply text-primary-light font-bold;
		}

		.btn-see-more {
			@apply mx-auto mt-10;
			@apply flex text-center;
			@apply max-w-[420px] rounded-full;
		}
	}
</style>

<section class="impact-section py-20">
	<div class="container">
		<div class="flex flex-row gap-10 px-8">
			<div class="w-2/3 max-w-[690px] text-white">
				<h1 class="impact-subtitle">Real Impact</h1>
				<h2 class="impact-title">where <b>we make</b> an impact</h2>
				<p class="text-primary">
					The digital revolution is driven by technology, innovation, and agility. That's why Jaya
					Tech connects companies with highly qualified development squads, ready to create, scale,
					and maintain secure, modern digital products tailored to the unique demands of each
					business.
				</p>
				<p class="text-primary my-5 text-[16px] font-bold">
					We partner with organizations to deliver custom solutions for management, automation, user
					experience, and data-driven results.
				</p>
				<p class="text-primary">
					Our expertise allows us to accelerate time-to-market, ensure compliance, and deliver
					innovative experiences, always focusing on security, performance, and scalability. Whether
					you want to launch a new product, enhance your processes, or turn data into value, Jaya
					Tech is the ideal partner for companies looking to go beyond the ordinary.
				</p>
			</div>
			<div class="w-1/3 text-white">
				<Image src={impactImg} alt="Impact Image" class="w-[430px]" />
			</div>
		</div>
		<div class="solutions-list px-8">
			<div class="solution-item">
				<div class="solution-container"></div>
				<div class="solution-item-text">fintech</div>
			</div>
			<div class="solution-item">
				<div class="solution-container"></div>
				<div class="solution-item-text">healthtech</div>
			</div>
			<div class="solution-item">
				<div class="solution-container"></div>
				<div class="solution-item-text">agrotech</div>
			</div>
			<div class="solution-item">
				<div class="solution-container"></div>
				<div class="solution-item-text">SaaS</div>
			</div>
			<div class="solution-item">
				<div class="solution-container"></div>
				<div class="solution-item-text">More</div>
			</div>
		</div>
		<a href="/solutions" class="btn btn-outline btn-primary btn-see-more btn-wide rounded-full"
			>See how we delivery accross industries</a
		>
	</div>
</section>
