@reference "../../../styles/global.css";

.home-team-section {
	@apply bg-primary-light text-white;

	.container {
		&:after {
			@apply bg-white content-[''];
			@apply absolute bottom-[-5rem];
			@apply h-[200px] w-full;
			@apply rounded-tl-[50px] rounded-tr-[50px];
			@apply z-0;
		}
	}

	.btn-see-more {
		@apply btn btn-outline btn-primary;
		@apply mx-auto mt-10;
		@apply flex text-center;
		@apply max-w-[420px] rounded-full text-[10px];
	}
}
