---

---

<style>
	@reference "../../../styles/global.css";
	.hero-section {
		@apply max-h-[925px];
		overflow: hidden;

		.text-box {
			@apply relative;

			&::before {
				@apply bg-[#5abfd7];
				@apply absolute;
				@apply top-0 right-0;
				@apply h-full w-[50dvw];
				content: '';
			}

			.text-box-container {
				@apply relative z-10;
				@apply px-10;

				h1 {
					@apply text-white;
					@apply text-[32px];
					@apply mb-16;
				}

				h2 {
					@apply text-[#00616c];
					@apply text-[20px];
				}

				.btn-get-in-touch {
					@apply mt-18;
					@apply text-white;
				}
			}
		}

		.video-box-container {
			@apply h-full w-[50dvw];

			& div {
				@apply absolute;
				@apply top-0 left-0;
				@apply h-full w-[50dvw];
				overflow: hidden;
			}

			video {
				@apply h-full w-full;
				@apply object-cover object-center;
			}
		}
	}
</style>

<div class="hero-section">
	<div class="container">
		<div class="flex">
			<div class="text-box w-1/2 pt-[210px]">
				<div class="text-box-container">
					<h1>
						<b
							>at Jaya Tech, <br />
							we believe</b
						>
						<i>that<br /> technology only makes<br /> sense when<br /></i>
						<b>it transforms lives.</b>
					</h1>

					<h2>
						<i>more than developing software,</i><br /><b
							>we create innovative solutions<br />
							that drive startups and disruptive<br /> projects,</b
						>
						<i
							>always with a human<br />
							and strategic approach.</i
						>
					</h2>
					<a class="btn btn-outline btn-get-in-touch btn-wide rounded-full">Get in touch</a>
				</div>
			</div>
			<div class="image-box relative w-1/2">
				<div class="video-box-container">
					<video autoplay class="video-box" controls={false} loop muted playsinline>
						<source src="https://pixy-project.vercel.app/api/media/file/video-2.mp4" />
					</video>
				</div>
			</div>
		</div>
		<div class="h-[815px]">conteudo</div>
	</div>
</div>
