---
import '@/components/about/hero/hero.css'
---

<div class="about-hero-section container">
	<div class="flex">
		<div class="text-box w-1/2 pt-[210px]">
			<div class="text-box-container">
				<h1>at Jaya Tech, we believe that technology only makes sense when it transforms lives.</h1>
			</div>
		</div>
		<div class="image-box relative w-1/2">
			<div class="video-box-container">
				<video
					autoplay
					class="video-box"
					controls={false}
					loop
					muted
					onclick={() => {}}
					playsInline
					ref={() => {}}
				>
					<source src="https://pixy-project.vercel.app/api/media/file/video-2.mp4" />
				</video>
			</div>
		</div>
	</div>
</div>
