@reference "../../../styles/global.css";

.about-hero-section {
	@apply max-h-[925px];
	overflow: hidden;

	.text-box {
		@apply relative;

		&::before {
			@apply bg-[#5abfd7];
			content: '';
			width: 50dvw;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		}

		.text-box-container {
			@apply relative z-10;
			@apply px-10;

			h1 {
				@apply text-white;
				@apply text-[32px];
				@apply mb-16;
			}

			h2 {
				@apply text-[#00616c];
				@apply text-[20px];
			}

			.btn-get-in-touch {
				@apply btn btn-outline mt-18;
				@apply text-white;
			}
		}
	}

	.video-box-container {
		width: 50dvw;
		height: 100%;

		& div {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			width: 50dvw;
			height: 100%;
		}

		video {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center;
			object-position: center;
			/* width: 50dvw; */
			/* position: absolute; */
			/* top: 0; */
			/* left: 0; */
		}
	}
}
