---
import MapElement from './MapElement.astro'
---

<style>
	@reference '@/styles/global.css';
	.map-section {
		@apply bg-blue;
		@apply pt-20 pb-10;

		.driving-subtitle {
			@apply uppercase;
			@apply font-space-grotesk;
		}

		.driving-title {
			@apply text-3xl;
			@apply leading-[0.99];
			@apply my-10;
		}

		.driving-text {
			@apply leading-[1.3];
		}

		.btn-get-in-touch {
			@apply btn btn-outline rounded-full;
			@apply mx-auto my-10;
			@apply hidden lg:flex;
			@apply text-white;

			&.btn-mobile {
				@apply flex lg:hidden;
			}
		}

		.content {
			@apply w-full lg:w-1/3;
			@apply px-8;
			@apply text-white;
		}

		.map-container {
			@apply mt-10;
			@apply relative;
			@apply w-full lg:w-2/3;
		}

		.layout {
			@apply flex flex-col lg:flex-row;
			@apply lg:px-8;
		}
	}
</style>

<section class="map-section">
	<div class="container">
		<div class="layout">
			<div class="content">
				<h2 class="driving-subtitle">Driving results nationwide</h2>
				<h3 class="driving-title">
					<b>our</b>
					<i>presence</i><br />
					<i>across</i>
					<b>america</b>
				</h3>
				<p class="driving-text">
					Jaya's nearshore teams are already delivering impact across the U.S. from California to
					New York.
				</p>

				<p class="driving-text mt-5">
					Our remote-native model ensures timezone-aligned delivery, seamless collaboration, and
					long-term value wherever your team is based.
				</p>

				<a class="btn-get-in-touch">Get in touch</a>
			</div>
			<div class="map-container">
				<MapElement />
			</div>
			<a class="btn-get-in-touch btn-mobile">Get in touch</a>
		</div>
	</div>
</section>
