---
import MapElement from './MapElement.astro'
---

<style>
	@import '../../../styles/global.css';

	.map-section {
		@apply bg-blue;
		@apply min-h-[735px];

		.driving-subtitle {
			@apply uppercase;
			@apply font-space-grotesk;
		}

		.driving-title {
			@apply text-3xl;
			@apply leading-[0.99];
			@apply my-10;
		}

		.driving-text {
			@apply leading-[1.3];
		}

		.btn-get-in-touch {
			@apply my-20;
		}
	}
</style>

<section class="map-section py-20">
	<div class="container">
		<div class="flex px-8">
			<div class="text-white lg:w-1/4">
				<h2 class="driving-subtitle">Driving results nationwide</h2>
				<h3 class="driving-title">
					<b>our</b>
					<i>presence</i><br />
					<i>across</i>
					<b>america</b>
				</h3>
				<p class="driving-text">
					Jaya's nearshore teams are already delivering impact across the U.S. from California to
					New York.
				</p>

				<p class="driving-text mt-5">
					Our remote-native model ensures timezone-aligned delivery, seamless collaboration, and
					long-term value wherever your team is based.
				</p>

				<a class="btn btn-outline btn-get-in-touch btn-wide rounded-full">Get in touch</a>
			</div>
			<div class="relative lg:w-3/4">
				<!-- Map component would go here -->
				<MapElement />
			</div>
		</div>
	</div>
</section>
