---
import MapElement from './MapElement.astro'
import { withBase } from '@/utils/url'
---

<style>
	@reference '@/styles/global.css';

	@keyframes bg-pan-top {
		0% {
			background-position: 50% 0%;
		}
		100% {
			background-position: 50% 100%;
		}
	}

	.bg-pan-top {
		-webkit-animation: bg-pan-top 8s both;
		animation: bg-pan-top 8s both;
	}
	.map-section {
		@apply pt-20 pb-10;
		@apply bg-[linear-gradient(0deg, #007590, #3b7881, #27bad1)];
		@apply bg-[size:100%_600%];
		background-position: 50% 0%; /* Initial state matches animation start */

		.driving-subtitle {
			@apply font-space-grotesk uppercase;
		}

		.driving-title {
			@apply my-10;
			@apply text-3xl leading-[0.99];
		}

		.driving-text {
			@apply leading-[1.3];
		}

		.btn-get-in-touch {
			@apply btn btn-outline btn-wide;
			@apply hidden lg:flex;
			@apply mx-auto my-10;
			@apply text-white;
			@apply rounded-full;

			&.btn-mobile {
				@apply flex lg:hidden;
			}
		}

		.content {
			@apply w-full lg:w-1/3;
			@apply px-8;
			@apply text-white;
		}

		.map-container {
			@apply relative;
			@apply w-full lg:w-2/3;
			@apply mt-10;
		}

		.layout {
			@apply flex flex-col lg:flex-row;
			@apply lg:px-8;
		}
	}
</style>

<section class="map-section" id="map-section">
	<div class="container">
		<div class="layout">
			<div class="content">
				<h2 class="driving-subtitle">Driving results nationwide</h2>
				<h3 class="driving-title">
					<b>our</b>
					<i>presence</i><br />
					<i>across</i>
					<b>america</b>
				</h3>
				<p class="driving-text">
					Jaya's nearshore teams are already delivering impact across the U.S. from California to
					New York.
				</p>

				<p class="driving-text mt-5">
					Our remote-native model ensures timezone-aligned delivery, seamless collaboration, and
					long-term value wherever your team is based.
				</p>

				<a class="btn-get-in-touch" href={withBase('contact')}>Get in touch</a>
			</div>
			<div class="map-container">
				<MapElement />
			</div>
			<a class="btn-get-in-touch btn-mobile" href={withBase('contact')}>Get in touch</a>
		</div>
	</div>

	<script>
		import { animateOnSectionVisible } from '@/utils/animations'

		document.addEventListener('astro:page-load', () => {
			animateOnSectionVisible('#map-section', 'map-section', { threshold: 0.3 }, 'bg-pan-top')
		})
	</script>
</section>
