---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import styles from './MapSection.module.css'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class={`${styles.mapSection} py-20`}>
	<div class="container">
		<div class="flex">
			<div class="w-1/4 text-white">
				<h2>Driving results nationwide</h2>
				<h3 class="my-10 text-[28px]">Our presence<br /> across america</h3>
				<p>
					Jaya’s nearshore teams are already delivering impact across the U.S. from California to
					New York.
				</p>

				<p class="mt-5">
					Our remote-native model ensures timezone-aligned delivery, seamless collaboration, and
					long-term value wherever your team is based.
				</p>

				<button class={styles.btnGetInTouch}>Get in touch</button>
			</div>
			<div class="w-3/4"></div>
		</div>
	</div>
</section>
